[submodule "api"]
	path = api
	url = https://github.com/marcoamolinaro/react-redux-streams-api.git
[submodule "client"]
	path = client
	url = https://github.com/marcoamolinaro/react-redux-streams-client.git
[submodule "rtmpserver"]
	path = rtmpserver
	url = https://github.com/marcoamolinaro/react-redux-streams-rtmpserver.git
